body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EEF3F6;
}
h1{
  padding-top: 10vh;
}
.fixed-header {
  width: 100%;
  height: 10vh;
  /* ヘッダーの高さを指定 */
  background-color: #171D3F;
  color: white;
  text-align: center;
  line-height: 60px;
  /* テキストを中央に配置 */
  position: fixed;
  /* 位置を固定 */
  top: 0;
  /* 上端からの距離を0に */
  left: 0;
  /* 左端からの距離を0に */
  z-index: 1000;
  /* 他の要素より前面に表示 */
}

.fixed-header span {
  padding-left: 20px;
  padding-right: 20px;
  width: 189px;
  height: 10vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 5vh;
  font-style: normal;
  font-weight: 900;
  line-height: 10vh;
}
a{
  color: #FFF;
}

.fullscreen-bg {
  position: relative;
  width: 100%;
  height: 90vh; 
  background-image: url('../img/back-img.png');
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat;
  transition: opacity 0s;
  opacity: 1;
  z-index: 1000;  */
}
.hide-image {
  opacity: 0 !important; /* 画像を完全に透明にする */
}
.content {
  width: 100%;
  margin-block-start: 4vh;
  margin-block-end: 4vh;
}
#PROFILE,#WORKS,#SKILL,#CONTACT{
  text-align: center;
}
.maincontent {
  position: relative;
  margin: 0 auto;
  width: 768px;
  height: 248px;
  border-radius: 16px;
  background-color: #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));

}
.subcontent {
  margin: 0 auto;
  width: 768px;
  height: 192px;
  display: flex;
  justify-content: space-between;
}
.works-subcontent {
  margin: 0 auto;
  width: 768px;
  height: 192px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
}
.subcontent1 {
  width: 358.5px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.subcontent2 {
  width: 358.5px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.lastname {
  margin: 0 auto;
  position: absolute;
  display: flex;
  top: 49px;
  left: 119px;
  width: 146px;
  height: 57px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #171D3F;
  text-align: center;
  font-family: Abel;
  font-size: 32px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.firstname {
  margin: 0 auto;
  position: absolute;
  display: flex;
  top: 49px;
  left: 244px;
  width: 146px;
  height: 57px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #171D3F;
  text-align: center;
  font-family: Abel;
  font-size: 32px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.name {
  margin: 0 auto;
  position: absolute;
  display: flex;
  top: 78px;
  left: 20px;
  width: 439px;
  height: 131px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #171D3F;
  text-align: center;
  font-family: Abel;
  font-size: 64px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.myicon {
  position: absolute;
  background-image: url("../img/hituzi-3.png");
  top: 28px;
  left: 478px;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
}
.minicon{
  position: relative;
  left: 36px;
  width:286.5px;
  font-size: 18px;
  color: #171D3F;
}
.con{
  top:36px;
  position: relative;
  left: 36px;
  width:768px;
  font-size: 18px;
  color: #171D3F;
}
.minicon a{
  color: #171D3F;
}
.works-minicon{
  position: relative;
  left: 36px;
  width:286.5px;
  font-size: 12px;
  color: #171D3F;
}
.mogra-demo{
  width: 358.5px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
  background-size:cover;
  background-image: url("../img/mogra-demo.gif");
}
.cotabi-demo{
  width: 358.5px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
  background-size:cover;
  background-image: url("../img/cotabi-demo.gif");
}

@keyframes yurayura {

  0%,100% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(-1deg);
  }
}
.mcon :hover{
  animation: yurayura 0.75s linear infinite;
}
.subcontent :hover{
  animation: yurayura 0.75s linear infinite;
}
.works-subcontent :hover{
  animation: yurayura 0.75s linear infinite;
}
.nollcontent1 {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #171D3F;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}